* {
	padding: 0;
	margin: 0;
}

.game {
	width: 600px;
	height: 700px;
	border: 1px solid black;
	margin: auto;
	overflow: hidden;
}

.squirrel {
	width: 50px;
	height: 60px;
	background-color: black;
	position: relative;
	top: 640px;
	left: 550px;
}

.nut {
	width: 20px;
	height: 20px;
	background-color: brown;
	position: relative;
	top: -60px;
	left: 300px;

}