* {
  padding: 0;
  margin: 0;
}

.game {
	width: 600px;
	height: 700px;
	border: 1px solid black;
	margin: auto;
	overflow: hidden;
}

#squirrel {

	position: relative;
	top: 500px;
	left: 0px;
}

#nut {
	position: relative;
	top: -60px;
	left: 290px;
  animation: nut 1s infinite linear; 
}

@keyframes nut {
  0%{top: -400px}
  100%{top: 640px}
}