
* {

	padding: 0;
	margin: 0;
}

h1 {
	color: #B08F6A;
	font-family: fantasy;
	font-size: 4rem;
}

.jumbotron {
	background: rgba(204, 204, 204, 0.3);
	margin-top: 100px;
	margin-left: 100px;
	margin-right: 100px;
}

.scoreP {
	color: #B08F6A;
	font-family: fantasy;
	font-size: 4rem;
}

.game {
	width: 600px;
	height: 700px;
	border: 1px solid black;
	margin: auto;
	overflow: hidden;
	background-image: url("../assets/images/DALL·E\ 2022-11-29\ 10.13.32.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

body {
	background-image: url("../assets/images/DALL·E\ 2022-11-29\ 10.30.27\ -\ a\ bunch\ of\ tiny\ acorns\,\ synthwave.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

#squirrel {
	width: 50px;
	height: 60px;
	position: relative;
	top: 570px;
	left: 275px;
}

#squirrelImage {
	width: 125px;
	height: 160px;
	top: 580px;
	left: 275px;
}

.nut {
	width: 20px;
	height: 20px;
	top: -60px;
	left: 290px;
	animation: nut 3s infinite linear;
}

.scoreDiv {
	margin-top: 30px;
}

#acorn {
	width: 20px;
	height: 20px;
	position: relative;
	top: -60px;
	left: 290px;
	animation: nut 3s infinite linear;
}

/* New Code ---------------------------------------------------------------- */
#acorn2 {
	width: 20px;
	height: 20px;
	position: relative;
	top: -60px;
	left: 290px;
	animation: nut 3s infinite linear;
}

#acorn3 {
	width: 20px;
	height: 20px;
	position: relative;
	top: -60px;
	left: 290px;
	animation: nut 3s infinite linear;
}
/* New Code ---------------------------------------------------------------- */

.hidden {
	display: none;
}

@keyframes nut {
	0% {
		top: -60px
	}

	100% {
		top: 640px
	}
}
